form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form select {
    background-color: #e3eef1;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    width: 300px;
    box-sizing: border-box;
}

form input:last-of-type {
    color: white;
    background-color: #009581;
}

form .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}